body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 auto;
    max-height: 100%;
}

h1, #startPage, .answer, h4 {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
    cursor: pointer;
}

.answer{
    cursor: pointer;
}

fieldset {
    border: none;
}

#logo {
    max-width:100%;
    height:auto;
    object-fit: contain; 
}

#nextQ, #submitButton, #restartButton  {
    background-color: #FBD71F;
    color: #E30922;
}

#submitButton, #restartButton, #nextQ {
    font-weight: 800;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Quiz {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#questionDisplay, #scoreDisplay, #trackerDisp {
    display: flex;
    justify-content: center;
}

#questionDisplay {
    margin-bottom: 1em;
}

#restartButton , #submitButton, #scoreDisplay, .beatLostQuizgifs {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#startButton {
    display: flex;
    align-content: center;
    justify-content: center;
}

#beatQuizGif, #lostQuizGif, #startButton {
    display: flex;
    align-content: center;
    justify-content: center;
    object-fit: contain; 
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 767px) {
    body {
        object-fit: contain; 
    }  

     #beatQuizGif, #lostQuizGif, #startButton, .rightWrongGifs {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        object-fit: contain; 
        max-width: 100%;
        width: 100%;
    }

    .gifNextcontainer, .gifRestartContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: contain; 
        max-height: 100%;
    }

    #nextQ, #restartButton  {
        width: 100%;
        align-content: center;
        height: 10em;
    }
}

@media screen and (min-width: 768px) {

    #startButton, #logo {
        display: flex;
        align-content: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: 15em;
        object-fit: contain; 
        margin: 1em;
    }

    #nextQ, #restartButton  {
        width: 50%;
        align-content: flex-end;
    }


    .gifNextcontainer, .gifRestartContainer {
        display: flex;
        flex-direction: row;
    }


    .rightWrongGifs, .beatLostQuizgifs {
        align-content: flex-start;
        width: 50%
    }

}