body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 auto;
}

h1, #startPage, .answer, h4 {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
}

#logo {
    max-width:100%;
    height:auto;
    object-fit: contain; 
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Quiz {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#questionDisplay, #scoreDisplay, #trackerDisp {
    display: flex;
    justify-content: center;
}

#restartButton , #submitButton, #nextQ, #scoreDisplay  {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#startButton {
    display: flex;
    align-content: center;
    justify-content: center;
}

#rightAnsGif, #wrongAnsGif, #beatQuizGif, #lostQuizGif, #startButton, #nextQ {
    display: flex;
    align-content: center;
    justify-content: center;
    object-fit: contain; 
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 767px) {
    body {
        object-fit: contain; 
    }  

    #rightAnsGif, #wrongAnsGif, #beatQuizGif, #lostQuizGif, #startButton, #nextQ {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        object-fit: contain; 
        max-width: 100%;
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    #nextQ  {
        font-size: large;
    }

    #rightAnsGif, #wrongAnsGif, #beatQuizGif, #lostQuizGif, #nextQ {
        display: flex;
        flex-direction: row;
    }

}