body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

h1, #startPage, .answer {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
}

#logo {
    max-width:100%;
    height:auto;
    object-fit: contain; 
}

button {
    border-style: solid;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Quiz {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#questionDisplay {
    display: flex;
    justify-content: center;
}

#trackerDisp {
    display: flex;
    justify-content: center;
}

#scoreDisplay {
    display: flex;
    justify-content: center;
}


#submitButton {
    display: flex;
    align-content: center;
}


@media screen and (max-width: 767px) {



}